@model IEnumerable<Storly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Customers</h2>

<<<<<<< HEAD
    <table id="customers">
        <th>Name</th>
        <th>DisCountRate</th>
        <th>MemberShipType</th>
        <th></th>

            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name,"Details","Customer",new {id=customer.Id},null )</td>
                    <!-- We used Include method to enable this return DiscountRate value from MemberShipType-->
                    <td>@customer.MembershipType.DiscountRate%</td>
                    <td>@customer.MembershipType.Name</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Customer", new { id = customer.Id }, null)-
                        @Html.ActionLink("Delete", "Delete", "Customer", new { id = customer.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })
                    </td>
                </tr>
            }        
    </table>
=======
<p>
    @Html.ActionLink("New Customer", "New", "Customer", null, new { @class = "btn btn-primary" })
</p>

   
<table id="customers"">
    <thead>
        <tr>
            <th>Name</th>
            <th>MemberShipType</th>
            <th>DiscountRate</th>
            <th></th>
        </tr>   
    <tbody>
   </tbody>
    </thead>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/api/Customer",
                dataSrc:"",
                success:function(data)
                {
                    
                    $('#customers').DataTable({
                        stateSave: true,
                        "columnsDefs":[
                            {
                                "width" : "1200px","targets":0
                            }
                        ],
                        data: data,
                        columns: [
                            {
                                data: "Name",
                                render: function (data, type, Customer) {
                                    return "<a href ='Customer/Details/" + Customer.Id + "'>" + Customer.Name + "</a>";
                                }
                            },
                            { 'data': 'MembershipType.Name' },
                            { 'data': 'MembershipType.DiscountRate' },
                            {
                                data: "Id",
                                render: function (data) {
                                    return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                                            
                                }
                            },
                           
                        ]
                    });
                   
                }
            });
            $("#customers ").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you wanna remove this customer", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/Customer/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
           
        });
             
    </script>
}

>>>>>>> Adding dataTables and using ajax to call web api
