@model IEnumerable<Storly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyMovies</h2>

<table id="customers">
<<<<<<< HEAD
    <th>Name</th>
    <th>GenreType</th>
    <th>DateAdded</th>
    <th></th>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@Html.ActionLink(movie.Name, "Details", "Movie", new { id = movie.Id }, null)</td>
            <td>@movie.GenreType.Name</td>
            <td>@movie.DateAdded</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Movie", new { id = movie.Id }, null)-
                @Html.ActionLink("Delete", "Delete", "Movie", new { id = movie.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })
            </td>
        </tr>
    }
</table>

=======
    <thead>
    <th>Name</th>
    <th>GenreType</th>
    <th>ReleaseDate</th>
    <th></th>
    <tbody>
        
    </tbody>
    </thead>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/api/Movie",
                dataSrc:"",
                success:function(data)
                {

                    $('#customers').DataTable({
                        data: data,
                        columns: [
                            {
                                data: "Name",
                                render: function (data, type, Movie) {
                                    return "<a href ='Movie/Details/" + Movie.Id + "'>" + Movie.Name + "</a>";
                                }
                            },
                            { 'data': 'GenreType.Name' },
                            { 'data': 'ReleaseDate' },
                            {
                                data: "Id",
                                render: function (data) {
                                    return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";

                                }
                            },

                        ]
                    });

                }
            });
            $("#customers ").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you wanna remove this movie", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/Movie/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });

        });

    </script>
}

>>>>>>> Adding dataTables and using ajax to call web api
