@model Storly.ViewModels.MovieViewlModel
@{
    ViewBag.Title = "Add NewMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Movie</h2>

@using (Html.BeginForm("Create", "Movie"))
{
    <div class="form-group">
<<<<<<< HEAD
        @Html.LabelFor(m=>m.Movie.Name)
        @Html.TextBoxFor(c => c.Movie.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Movie.ReleaseDate)
        @Html.TextBoxFor(c => c.Movie.ReleaseDate, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Movie.GenreTypeId)
        @Html.DropDownListFor(c => c.Movie.GenreTypeId, new SelectList(Model.Genre, "Id", "Name"), "Select Genre Type", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Movie.NumberInStock)
        @Html.TextBoxFor(c => c.Movie.NumberInStock, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    @Html.HiddenFor(c => c.Movie.Id)

=======
        @Html.LabelFor(m=>m.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.ReleaseDate)
        @Html.TextBoxFor(c => c.ReleaseDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.GenreTypeId)
        @Html.DropDownListFor(c => c.GenreTypeId, new SelectList(Model.Genre, "Id", "Name"), "Select Genre Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GenreTypeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.NumberInStock)
        @Html.TextBoxFor(c => c.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NumberInStock)
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    @Html.HiddenFor(c => c.Id)
    @Html.AntiForgeryToken()

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
>>>>>>> Adding dataTables and using ajax to call web api
}